.secret-sub-table {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.secret-row:hover {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.editable-cell-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
  max-height: 5em;
  overflow: hidden;
}

.inline-icon {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.multiline-icon {
  color: #1890ff; /* Цвет для иконки многострочности, можно выбрать другой */
}

.editable-cell-wrapper:hover .inline-icon {
  opacity: 1;
}

.delete-button {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.secret-row:hover .delete-button {
  opacity: 1;
}

.value-text {
  flex: 1;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editing-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.editing-buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 2px;
}

.key-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}
