.secret-sub-table {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sub-table-wrapper {
    width: 100%;
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}

.secret-row:hover {
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.editable-cell-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;
    max-height: 5em;
    overflow: hidden;
}

.inline-icon {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.multiline-icon {
    color: var(--primary-color);
}

.editable-cell-wrapper:hover .inline-icon {
    opacity: 1;
}

.delete-button {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.secret-row:hover .delete-button {
    opacity: 1;
}

.value-text {
    flex: 1;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editing-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.editing-buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 2px;
}
