.header {
  background: var(--table-bg);
  padding-right: 15px;
}

.layout {
  min-height: 100vh;
}

.content {
  height: calc(100vh - 30px - 48px);
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
