.sidebarWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--sidebar-bg);
  border-right: 1px solid var(--sidebar-border-color);
}

.sidebarMenu {
  flex-grow: 1;
  /*overflow-y: auto;*/
  background: var(--sidebar-bg);
}
