.modal {
    width: 80vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.modal-footer {
    position: sticky;
    bottom: 0;
}

.modal-body {
    overflow-y: auto;

    height: 90%;
}

.custom-textarea textarea {
    height: 33vh;
}
